discord.py
aiohttp
aiosqlite
python-dotenv
psutil
moviepy
requests
googletrans
google-search-results
akinator
chess
pillow
pytz
deep-translator
langdetect
yt-dlp
pynacl
gTTS
imageio-ffmpeg
davey
edge-tts